body{
  overflow-x: hidden
}

.image-page {
  padding:0!important;
}

.switch-tab{
  text-align: center;
    margin-bottom: 10px;
}

.switch-tab button{
  border: none;
  background: none;
  border-bottom: solid 0.5px black;
  cursor: pointer;
  padding: 10px 30px;
  margin: 5px
}

.switch-tab button:hover{
  color: #e8233b;
  border-color: #e8233b;
}

.commentform {
  min-height: 200px;
  font-family: inherit, serif!important;
}

.imageform{
  min-height: 300px;
  font-family: inherit!important;
  font-size: inherit!important
}

.btn-outline-danger:hover{
  background-color:#e8233b!important;
  color: white!important;
}
.btn-outline-danger{
  color: #e8233b;
}

.btn-danger:hover{
  background-color: #e8233b;
}

.btn-danger{
  background-color: #e8233b;
}

.hero {
  margin-top: 2vw;
  padding: 1vw;
}

.hero .sortbutton {
  overflow-x: hidden
}

.hero .sortbutton button{
  text-align: right;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  cursor: pointer;
  padding: 10px 50px;
  margin-bottom: 2vw;
}

.hero .sortbutton .lds-dual-ring{
  position: absolute;
  right: 20px;
  margin-top: -13px
}

.hero .image-description{
  background: rgba(0,0,0,0.7);
  color: white;
  border-radius: 0 0 5px 5px;
  margin-top:-125px;
  padding: 25px;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.hero .imageslist {
  opacity: 0;
  animation: 1s slidefade 0.3s forwards;
}

.hero .imageslist:hover .image-description{
  opacity: 1;
}

.hero .imageslist{
  padding: 10px .5rem;
}

.hero .imageslist img{
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.marked{
  border-color: #e8233b;
  color: #e8233b;
}

.marked:hover {
  background-color: #e8233b;
  border-color: #e8233b;
}

.homepage{
  padding: 10px;
  min-height: 100vh;
  width: 100%;
  background: #e8233b;
  overflow: hidden;
  transition: min-height 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.homepage .main-section input:focus{
  background-color: #343a40;
  color: white;
}

.suggestion{
  opacity: 0;
  animation: 0.3s slidefade 0.3s forwards;
  cursor: pointer;
  background: none;
  border: none;
  color: #343a40;
  border-top: solid 0.5px ;
  transition: color 0.2s ease-out;
  transition: font-weight 0.2s linear;
  margin: 5px;
  margin-bottom: 1.5rem
}

.suggestion:hover{
  color: black;
  font-weight: 600
}

@keyframes slidefade {
    100% {
        opacity: 1;
    }
}

.homepage .main-section {
  margin-top: 12vw;
  transition: margin-top 0.3s linear
}

.homepage .main-section .row{
  margin-top: 2rem;
}

.homepage .main-section .site-description{
  border-left: solid 0.5px;
  color: white;
  border-color: black;
}

.homepage .main-section .site-description h6{
  font-weight: 500; 
}

.homepage .main-section h1{
  text-align: center
}
.homepage .main-section .welcome{
  text-align: right;
  border-right: solid 0.5px;
}

.homepage-2 {
  min-height: 0;
  background: none;
}

.homepage-2 .text{
  display: none
}

.homepage-2 .main-section{
  margin-top: 3vw!important
}

.newcommentform{
    margin: 20px;
    
}

.newcommentform button{
    border-radius: 0 0 5px 0;
    margin: 0;
}

.newcommentform label{
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: solid .5px #e5e5e5;
  width: 99%  
}

.newcommentform textarea{
  width: 99.8%;
  margin-left: 1px
}

.allcomments .comment {
  margin: 0 20px 0 20px;
  padding: 5px;
  border-bottom: solid 0.5px #e5e5e5;
  overflow: auto;
}
.allcomments h4{
  padding-left: 1rem;
}

.allcomments .delete{
  color: black;
  background: none;
  margin-top: 2px;
  border: none;
  cursor: pointer;
  border-radius: 0         
}

.allcomments .delete:focus{
  box-shadow: none!important
}

.allcomments .author {
  font-size: 1rem;
  font-weight: bold;
  margin: 0px
}

.allcomments .comment-description {
  margin-top: 10px;
  min-height: 5vw;
}

.allcomments .reply {
  background: none;
  cursor: pointer;
  border: none;
  margin-left:20px;
  padding-left: 10px;
  /*border-left: solid 0.5px #e8233b;*/
  font-size: 13px;
  color: #e8233b;
  margin-right: 10px;
}

.allcomments .reply:hover {
  /*border-left: solid 0.5px black;*/
  color: black;
}

.allcomments .date {
  font-size: 14px;
  font-weight: lighter
}

.allcomments .reply-input {
  opacity: 0;
  margin-left: 70px;
  animation: 0.2s slidefade 0.2s forwards;
  margin-right: 20px;
  /*border-bottom: solid 0.5px #e5e5e5;*/
  margin-top: 10px;
}

.allcomments .replies {
  margin: 10px 20px 0 70px;
  animation: 0.3s slidefade 0.3s forwards;
  padding-left: 10px;
  border-left: solid 0.5px;
  min-height: 50px;
  overflow: auto;
}

.allcomments .comment-vote button{
  border-radius: 0;
  border: none;
}

.allcomments .comment-vote .voted {
  color: #343a40;
  font-weight: bold;
  border-bottom: solid 2px #343a40;
}

.allcomments .comment-vote .voted:hover{
  color: white;
}

.allcomments .points {
  color: black;
  background: none;
  cursor: default!important;
  margin-left: 5px
}

.allcomments .points:focus {
  box-shadow: none !important;
}

.allcomments .point-text {
  font-weight: bold;
  margin-left: 5px;
  padding-bottom: 3px;
  border-bottom: solid 2px black;
}

/*.allcomments .points:hover .point-count{*/
/*  display: block;*/
/*  color: #e8233b*/
/*}*/

/*.allcomments .points:hover .point-text{*/
/*  display: none*/
/*}*/

.allcomments .points .point-count {
  display: none;
  text-align: center
}

.authform {
  border: solid 0.5px #e5e5e5;
  padding: 20px 20px 80px 20px;
  border-radius: 5px;
  margin-top: 4vh;
}

.authform button{
  width: 40%;
  float: right;
}

.authform input{
  margin-bottom: 20px
}

.imagepage {
  margin: 20px 0;
}

.imagepage .card{
  margin-bottom: 40px;
}

.imagepage .description{
  overflow: hidden;
  height: 100px;
  transition: height 0.3s linear;
}

.imagepage .showMore{
  height: auto;
}

.authaction {
  border-top: solid 0.5px #e5e5e5;
}

.authaction .btn{
  border-radius: 0;
  border: none;
}

.btn {
  border-radius: 5px
}

.loading{
  margin-top: 10vh;
  display: flex;
  justify-content: center
  
}

.dashboard .lds-dual-ring {
  position: absolute;
  right: 7vw;
  margin-top: 30px;
}

.dashboard button{
  background: none;
  border: none;
}

.dashboard button:hover {
  color: #e8233b;
}

.dashboard a{
  color: black;
}